{% extends 'base.html.twig' %}

{% block title %}Formation - Gestes et postures au travail{% endblock %}

{% block description %}Vous apprendrez la posture ergonomique à mettre en place au quotidien afin d'éviter des pathologies physiques, maladies professionnelles et TMS. Cette formation est une obligation légale de l'employeur.{% endblock %}

{% block body %}
    <div id="corps" class="container-fluid mt-5">
        <div class="row">
            <div class="gestes-title">
                <div class="text-title section">
                    <h1 class="text-brand">
                        Gestes et postures au travail
                    </h1>
                    <p>
                        A l’issue de la formation, le(la) stagiaire connaitra mieux son corps pour effectuer des efforts
                        afin de lever, transporter et déposer des charges
                    </p>
                    <div class="d-flex">
                        <a
                                class="btn btn-second btn-lg"
                                href="{{ path('app_ask') }}"
                        >
                            <i class="fa fa-play" aria-hidden="true"></i>
                            &nbsp;Faire une demande de formation
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="my-5">
                <h2 class="text-center size-2 text-brand-dark">Objectifs de la formation</h2>
                <p>
                    Vous apprendrez...
                <ul>
                    <li>
                        A mieux connaître votre corps pour effectuer des efforts afin de lever, transporter
                        et déposer des charges.
                    </li>
                    <li>
                        A identifier les gestes et postures nocifs.
                    </li>
                    <li>
                        A comprendre les risques liés à votre activité professionnelle, à la manutention manuelle et
                        à réaliser vos taches en toute sécurité.
                    </li>
                </ul>
                </p>
                <div class="w-adaptative mx-auto">
                    <picture>
                        <source srcset="{{ asset('build/images/formation/charge.webp') }}" type="image/webp" class="">
                        <source srcset="{{ asset('build/images/formation/charge.jpg') }}" type="image/jpeg" class="">
                        <img src="{{ asset('build/images/formation/charge.jpg') }}" alt="Femme portant une lourde charge" class="w-100">
                    </picture>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="box-shadow bg-second-light text-brand row">
                <div class="col-12 col-sm-4 text-center align-self-center">
                    <i class="fas fa-user size-big"></i>
                </div>

                <div class="col-12 col-sm-8 pt-4">
                    <h2 class="size-2 mb-5">A qui s'adresse la formation</h2>

                    <p>
                        Ciblée pour les particuliers et les professionnels qui souhaitent connaitre
                        les gestes et postures pour travailler en toute sécurité.
                    </p>
                </div>
            </div>
        </div>

        {% include 'formation/call_to_action.html.twig' %}
    </div>
    {% include 'formation/documentation.html.twig' %}
{% endblock %}