{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Formations - Découvrez nos formations autour de la sécurité et de l'éco-construction{% endblock %}

{% block description %}De l'installation de bassin LAGOON&reg; à la formation Sauveteur Secouriste du Travail en passant par
    la mise en place d'un local technique écologique. Certaines de nos formations sont certifiées Qualiopi et DataDock.
{% endblock %}

{% block body %}
<div id="corps" class="mt-5 container-fluid">
    <div class="row section">
        <h1>Nos formations</h1>
        <p>
            Découvrez nos différentes formations pour se reconvertir ou
            gagner en compétences avec LAGOON&reg; Formations... Formez-vous aux
            techniques et aux matériaux d'éco-construction ou a la sécurité au travail.
        </p>
    </div>

    <div class="section">
        {% include 'formation/reusables/list.html.twig' %}
    </div>
</div>
{% endblock %}
