{% extends 'base.html.twig' %}

{% block body %}
    <div id="corps" class="mt-5 container-fluid">
        <div class="section text-center d-block d-md-flex align-items-center">
            <img src="{{ asset('build/images/404.jpg') }}" class="w-adaptative mx-auto">
            <div class="text-center">
                <h1>Oups, vous vous êtes perdus ?</h1>
                <a class="btn btn-brand mt-5" href="{{ path('home') }}">
                    <i class="fas fa-arrow-right"></i>
                    &nbsp;Retour à la page d'accueil
                </a>
            </div>
        </div>
    </div>
{% endblock %}