{% extends 'base.html.twig' %}

{% block title %}
    LAGOON&reg; Formations - A propos de nous et nous contacter
{% endblock %}

{% block description %}
    Qui sommes nous ? Venez en apprendre plus sur nous et nos services. Découvrez l'histoire de notre centre de formation
    et notre passion. Contactez nous.
{% endblock %}

{% block body %}
    <div id="corps" class="mt-5 container-fluid">
        <div class="row section">
            <h1>A propos</h1>

            <p>
                LAGOON Formations est un organisme de formation reconnu par l’état,
                référencé au Datadock et certifié Qualiopi depuis 2021.
            </p>

            <p>
                Plus qu’une simple attestation de compétences, nous garantissons à
                nos stagiaires des formations de qualité. Nous nous engageons pour
                la réussite de nos stagiaires aux examens de certification.
            </p>

            <p>
                Notre force repose sur l’expertise et la pédagogie de nos formateurs.
                Notre équipe est composée de professionnels issus de divers secteurs.
                Notre devise est de “former sans ennuyer”, tout en nous adaptant aux
                besoins de chaque stagiaire. Ainsi, nous allions pratique et théorie
                dans la bonne humeur… Vous ne serez pas déçu !
            </p>

            <p>
                Nous considérons la formation comme un investissement, autant pour la
                prévention des risques, que pour l’acquisition de nouvelles compétences,
                comme la construction durable. Ces formations vous qualifieront pour avancer
                vers le monde de demain.
            </p>
        </div>

        <div class="row section text-center">
            <picture>
                <source srcset="{{ asset('build/images/a_propos.webp') }}" type="image/webp" class="">
                <source srcset="{{ asset('build/images/a_propos.jpg') }}" type="image/jpeg" class="">
                <img src="{{ asset('build/images/a_propos.jpg') }}" alt="Un formateur LAGOON formant quelques stagiaires avec un tableau en salle" class="w-adaptative mx-auto">
            </picture>
        </div>

        <div class="row section" id="contact">
            <h2>Nous contacter</h2>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex align-items-center m-4">
                        <i class="fa fa-map text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                        <p class="ms-4 fw-bold">
                            <a href="https://g.page/Nomad-Coworking?share"
                               target="_blank"
                               class="dark-link">
                                427 Chemin de Vosgelade Le Mas Raoum, 06140 VENCE
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex align-items-center m-4">
                        <i class="fa fa-envelope text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                        <p class="ms-4 fw-bold">
                            <a href="mailto:formation@lagoon-piscines.com"
                               title="Cliquez pour nous envoyer un mail"
                               class="dark-link">
                                formation@lagoon-piscines.com
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="d-flex align-items-center m-4">
                        <i class="fa fa-phone text-blue mx-none mx-sm-4 size-2" aria-hidden="true"></i>
                        <p class="ms-4 fw-bold">
                            <a href="tel:0645771184" title="Cliquez pour nous appeler" class="dark-link">
                                +33 6 45 77 11 84
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}