@import "~bootstrap/scss/bootstrap.scss";
@import "xs.css";
@import "sm.css";
@import "md.css";
@import "lg.css";
@import "xl.css";

@font-face {
    font-family: 'Raleway-Black';
    src: url('./fonts/Raleway-Black.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-ExtraThin';
    src: url('./fonts/Raleway-ExtraLight.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('./fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

$brand-colors: ("brand", #0072A3),
        ("brand-dark", #004766),
        ("brand-light", lighten(#0072A3, 50%)),
        ("second", #6FAB47),
        ("second-light", #DFE9AF),
        ("warning", #F71735);

@mixin media-min($_min-width) {
    @media screen and (min-width: $_min-width) {
        &{ @content; }
    }
}

@each $color in $brand-colors {
    .bg-#{nth($color,1)} {
        background-color: nth($color,2);
    }

    .text-#{nth($color,1)} {
        color: nth($color,2);
    }

    .btn-#{nth($color,1)} {
        background-color: nth($color,2);
        color:white;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1em;

        &:hover {
            background-color: lighten(nth($color,2), 8%);
            color:white;
        }
    }

    .btn-#{nth($color,1)}-disabled {
        background-color: transparentize(nth($color,2), 0.25);
        color:transparentize(white, 0.4);
        border-radius: 15px;
        cursor: not-allowed;
        font-weight: bold;
        font-size: 1.1em;

        &:hover {
            background-color: transparentize(nth($color,2), 0.25);
            color:transparentize(white, 0.4);
        }

        img {
            opacity: 0.25;
        }
    }

    .btn-outline-#{nth($color,1)} {
        background-color: transparent;
        color: nth($color,2);
        border: 1px solid nth($color,2);
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.1em;

        &:hover {
            background-color: nth($color,2);
            color:white;
        }
    }
}

.bg-brand-gradient {
    background: linear-gradient(90deg, rgba(0,76,109,1) 0%, rgba(0,110,157,1) 76%);
}

.bg-brand-gradient-light {
    background: linear-gradient(90deg, rgba(0,110,157,1) 0%, rgba(24,155,211,1) 76%);
}

.bg-grey
{
    background-color: #e0e0e0;
}

.text-disabled {
    position: absolute;
    width: 40%;

    &::after{
        content: attr(data);
        color: white;
        text-shadow: 1px 1px 2px #0c4767;
        font-size: 1.2em;
        position: absolute;
        top: -110px;
        text-align: center;
        display: block;
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        width: 80%;

        &::after{
            font-size: 1.4em;
        }
    }

    @media screen and (min-width: 992px) {
        width: 30%;

        &::after{
            top: -180px;
            font-size: 1.4em;
        }
    }
}

body {
    color: #0c1618;
}

h1 {
    font-family: 'Raleway-Black', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 1.8em;
}

h3 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 1.2em;
}

a {
    color:lighten(#0c4767, 10%);
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color:lighten(#d1ac00, 20%);
    }
}

.size-big {
    font-size: 6em;
}

.size-1 {
    font-size: 4em;
}

.size-2 {
    font-size: 2.8em;
}

.size-3 {
    font-size: 2em;
}

.h-330 {
    height: 330px;
}

.rounded-corners {
    border-radius: 4em;
}

.raleway-black {
    font-family: 'Raleway-Black', sans-serif;
}

.number {
    font-weight: bold;
    font-size: 7em;
    text-shadow: 3px 3px 1px #004766;
    color: #0072A3;
}

.footer-link {
    color: white;
    text-decoration:none;
    font-family: 'Raleway-Black', sans-serif;
    font-size: 1.1em;

    &:hover {
        color: nth(nth($brand-colors, 5), 2);
    }
}

.img-gallery {
    width: 100%;
    object-fit: cover;
    height: 250px;

    @media screen and (min-width: 768px) {
        height: 300px;
    }

    @media screen and (min-width: 992px) {
        height: 350px;
    }

    @media screen and (min-width: 1200px) {
        height: 400px;
    }

    @media screen and (min-width: 1400px) {
        height: 450px;
    }
}

.img-rounded-left {
    border-radius: 200px 200px 200px 0px;
}

.img-rounded-right {
    border-radius: 200px 200px 0px 200px;
}

.box-shadow {
    -webkit-box-shadow: 5px 4px 25px 3px #0c161850;
    box-shadow: 5px 4px 25px 3px #0c161850;
    padding: 20px;
    border-radius: 20px;
}

.box-radius {
    border-radius: 0px 50% 50% 0px;

    @include media-min(768px) {
        margin-right: 100px;
        padding: 50px 60px;
    }
}


/*For forms: */
.form-icon {
    position: relative;
    font-size: 5em;
}

.mt-none {
    margin-top:0px!important;
}

.buttons-group {
    display: inline-flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bold;

    input[type="radio"]{
        display: none;
    }

    .form-check {
        margin: 3px;
        padding-left: 0px;
    }

    .form-check-label {
        height: 100%;
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5px;
        border-radius: 20px;
        cursor: pointer;
        padding: 0px 8px;
        border: 1px solid black;
        transition: all 0.3s ease;

        &:hover {
            background-color: black;
            color:white;
        }
    }

    input[type="radio"]:checked:checked+label {
        background-color:black;
        color:white;
    }
}

.alert-success-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    margin-left: -150px;
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 100px 400px;
}

.legend {
    float: left;
    width: 100%;
    padding: 0;
}



/*Loader : */
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid black; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Timeline : */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}


ul.timeline:before {
    content: ' ';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 0.8rem;
}

li.timeline-item {
    margin: 20px 0;
}


li.timeline-item::before {
    content: ' ';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ffffff;
    left: 8px;
    width: 20px;
    height: 20px;
    z-index: 400;
}



/*Timeline : */
ul.timeline-dark {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}


ul.timeline-dark:before {
    content: ' ';
    background: #0c4767;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 0.8rem;
}

li.timeline-item-dark {
    margin: 20px 0;
}


li.timeline-item-dark::before {
    content: ' ';
    background: #0c4767;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #0c4767;
    left: 8px;
    width: 20px;
    height: 20px;
    z-index: 400;
}