{% extends 'dashboard/index.html.twig' %}

{% block dashboardBody %}
    <div class="d-flex vh-100 align-items-center justify-content-center">
        <div class="text-center size-big vibes">
            <span class="text-brand">facil</span>forma
        </div>
    </div>
{% endblock %}